{% extends 'transfer/base.html' %}
{% block body %}
<table id="example" class="table table-striped">
        <thead>
            <tr>
                <th style="color: #101529; font-size: 2px;">Status Indicator</th>
                <th>Kind</th>
                <th>Name</th>
                <th>Theatre</th>
                <th>Issue Date</th>
                <th>Status</th>
                <th>Exception Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_data %}
            <tr>
                <td>{{ data.record_progress }}</td>
                <td>{{ data.record_type }}</td>
                <td>{{ data.record_annotation }}</td>
                <td>{{ data.record_theatre }}</td>
                <td>{{ data.record_datetime }}</td>
                <td>{{ data.record_status }}</td>
                <td>{{ data.record_exception_messages }}</td>
                <td><a><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash-can"></i></button>
                    </a></td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="POST" class="form-control">
                      <div class="modal-body">
                            {% csrf_token %}
                            <div class="alert alert-danger" role="alert">
                            Confirm Delete ?
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <a href="delete/{{data.record_id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
